body{
  width: 100%;
  text-align: center;
  padding-top: 2%;
  background-color: #fbe4d8;
}
input{
  width: 25%;
  height: 2rem;
  border-radius: 20px;
  border: none;
  padding-left: 1.5rem;
}
#add-todo{
  height: 2.2rem;
  border-radius: 20px;
  margin-left: 1rem;
}
ul{
  list-style: none;
  text-align: center;
  width: 22%;
  margin-left: 32%;
}
li{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: .5rem;
}